
  input{
    margin-right: 5px;;
  }
  
  .home-window{
    display:flex;
    height:90vh;
    background-color: #e2e2e2;
    
  }

  .home-sidebar{
    width:50%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DDD;
    background-color: #ffffff;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }

  .home-contentbox{
    margin: 0 auto; 
    max-height: 550px;
    max-width: 550px;
    background: #fff ;
    padding: 30px;
    border-radius: 5px;  
    height: 98%;
    width: 90%;
    box-shadow: 0 0 0 3px #7cb8f6;

  }

  .labelinput{
    font-size: 1;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .inputtext, .home-checkboxs{
    display: flex;
    background-color: #fff;
    padding: 10px;
    width: 85%;
    border-radius: 5px;
    border: 1px groove;
    color: gray;
  }
    
   .home-checkboxs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
   }

  .home-submitbutton{
    margin-top: 10px;
    margin-left: 150px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #007aff;
    color:#fff;
    transition-duration: 0.4s;
    cursor:pointer;
  }

  .home-submitbutton:hover {
    background-color: white;
    color: #007bfe;
    border: 1px solid #007bfe;
 
  }

  .home-contentarea{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  