* {
  box-sizing: border-box;
}

.label-search {
  display:flex;
  justify-content: center;
  font-size: 45px;
  color: #007bfe;
  margin-bottom: 20px;;
  font-weight: bold;
}

.column1 {
  flex: 90%;
}

.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
  
}

table {
    margin-top:30px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    
  }
  
  table td {    
    border-style: none;
    border-right: 1px solid #ddd;    
    padding: 8px;   
    text-align: center;  
    color:#656565;
    font-size: 21px;
        
  } 
 
  
  table th {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #000;
    border-style: none;
    border-right: 1px solid #ddd;
    border-top: 10px solid #007bfe;
    
  }

  .td-top { 
    border-style: none;
    border-top: 10px solid #007bfe;
    border-right: 1px solid #ddd;
  }

  .td-button {
    display:inline-block;
    width: 100px;
    height: 58px;
    background-color:#f86440 ;
    color:#fff;
    border:none;
    border-radius: 7px;;
    transition-duration: 0.4s;
    cursor: pointer;

  }

  .td-button:hover {
    background-color: white;
    color: #f86440;
    border: 1px solid #f86440;
  }
